name: Regression tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        java-version: [18, 17, 16]
        java-distro: [temurin, zulu]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: ${{ matrix.java-distro }}

      - name: Configure macOS font rendering
        if: ${{ runner.os == 'macOS' }}
        # For some reason, GitHub's macOS image has this enabled. ?!??
        run: defaults write -g CGFontRenderingFontSmoothingDisabled 0

      - name: Build and run tests
        run: ./gradlew test -i --console=plain --no-daemon
        env:
          FAIL_ON_MISSING_IMAGE_COMPARISON: 1

      - name: Upload image comparisons (on failure only)
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: imageComparisons
          path: test/imageComparisons/
